<div id="basquet">
    <div class="d-flex justify-content-around">
        <div class="container-fluid">
            <div id="tablaEquipo" class="col-md-12">
                <form class="d-flex">
                    <img class="rounded mx-auto d-block" src="/img/pelotaB.png" alt="" width="50" height="50">
                    <h2 class="text-white me-4"><b>EQUIPOS</b></h2>
                    <div class="d-flex m-2">
                        <input class="form-control" type="search" placeholder="Buscar equipo" aria-label="Search">
                        <button class="btn btn-primary me-3" type="submit">Ir</button>
                        <input class="form-control" type="search" placeholder="Buscar jugador" aria-label="Search">
                        <button class="btn btn-primary" type="submit">Ir</button>
                    </div>
                </form>
                <table class="table table-hover table-info">
                    <thead>
                        <tr>
                            <th>Nº de Equipo</th>
                            <th>Nombre</th>
                            <th>Nº de Jugadores</th>
                                
                        </tr> 
                    </thead>        
                        
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Equipo1</td>
                            <td>7</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Equipo2</td>
                            <td>9</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Equipo3</td>
                            <td>6</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>Equipo4</td>
                            <td>7</td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>Equipo5</td>
                            <td>7</td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td>Equipo6</td>
                            <td>9</td>
                        </tr>
                        <tr>
                            <td>7</td>
                            <td>Equipo7</td>
                            <td>8</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="container-fluid">
            <div id="tablaEquipo" class="col-md-12">
                <form class="d-flex">
                    <h2 class="text-white me-4"><b>MI EQUIPO</b></h2>
                    <h3 class="text-white"><i>Equipo1</i></h3>
                </form>
                <table class="table table-hover table-success ">
                    <thead>
                        <tr>
                            <th>Número</th>
                            <th>Nombre</th>
                            <th>Posición</th>
                                
                        </tr> 
                    </thead>        
                        
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Juan</td>
                            <td>Arquero</td>
                                <!--<td>{{numero}}</td>
                                <td>{{nombre}}</td>
                                <td>{{cantidadJugadores}}</td>-->
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Pedro</td>
                            <td>Defensor</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Carlos</td>
                            <td>Defensor</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>Tomas</td>
                            <td>Defensor</td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>Mario</td>
                            <td>Medio</td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td>Roman</td>
                            <td>Medio</td>
                        </tr>
                        <tr>
                            <td>7</td>
                            <td>Jose</td>
                            <td>Delantero</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button class="btn btn-primary" type="submit">Buscar cancha</button>
        </div>
    </div>
</div> 