<div id="cancha">    
    <form action="/paginas/cancha/{{id}}" method="POST" id="formCancha" class="row g-4" enctype="multipart/form-data" >
        <div class="col-md-12">            
            <div class="text-center"><h2>Nueva Cancha</h2></div>
            <div class="text-center"><h2>{{datosEstablecimiento.nombreEstablecimiento}}</h2></div>
            <br>
            <div class="input-group mb-2 justify-content-around py-2">
                 <label for="numeroCancha"><b>Numuero de la Cancha</b></label>
                 <input type="number" class="col-5" name="numero" id="numeroCancha" placeholder="Nro de Cancha" required>       
                <select name="idDeporte" class="btn btn-ls btn-outline-primary" required>
                    <option type="text" value="">Formato</option>
                    <option type="text" value="1">Fútbol 5</option>
                    <option type="text" value="2">Fútbol 7</option>
                    <option type="text" value="3">Fútbol 11</option>
                    <option type="text" value="4">Básquet 2</option>
                    <option type="text" value="5">Básquet 5</option>
                    <option type="text" value="6">Pádel 1</option>
                    <option type="text" value="7">Pádel 2</option>
                </select>                
            </div>      
            <div class="text-center">
                <label for="horario"><b>Horario de Atencion</b></label>
                <p><span>Desde</span><input type="number" min="00" max="24" class="col-4 m-1" name="horaDesde" id="horario"><span>Hs.</span></p>
                <p><span>Hasta</span><input type="number" min="00" max="24" class="col-4 m-1" name="horaHasta"><span>Hs.</span></p>
            </div>      
            <div class="text-center">
                {{!-- <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Disponibilidad
                </button> --}}
                {{!-- <div class="dropdown-menu col-md-12" aria-labelledby="dropdownMenuButton">
                        <a href="#" class="link link-success" type="link" data-bs-toggle="modal" data-bs-target="#modelCancha">Lunes</a><br>
                        <a href="#" class="link link-success" type="link" data-bs-toggle="modal" data-bs-target="#modelCancha">Martes</a><br>
                        <a href="#" class="link link-success" type="link" data-bs-toggle="modal" data-bs-target="#modelCancha">Miércoles</a><br>
                        <a href="#" class="link link-success" type="link" data-bs-toggle="modal" data-bs-target="#modelCancha">Jueves</a><br>
                        <a href="#" class="link link-success" type="link" data-bs-toggle="modal" data-bs-target="#modelCancha">Viernes</a><br>
                        <a href="#" class="link link-success" type="link" data-bs-toggle="modal" data-bs-target="#modelCancha">Sábado</a><br>
                        <a href="#" class="link link-success" type="link" data-bs-toggle="modal" data-bs-target="#modelCancha">Domingo</a>
                </div> --}}
                <label for="imagen"><b>Imagen de la Cancha</b></label>
                <input class="btn" type="file" name="imagen" id="imagen">        
            </div>
    </form>
    <br>
    <button type="submit" onclick="location.href='#'" class="btn btn-success btn-block">
        Cargar
    </button>
    <button onclick="location.href='/paginas/duenio'" class="btn btn-danger btn-block">
        Cancelar
    </button>
</div>    

 <!-- Modal de horarios-->
<div class="modal fade" id="modelCancha" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div  class="modal-content">
            <div class="modal-header">
                <h3 align="center">Horarios</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Mañana</th>
                            <th scope="col">Tarde</th>
                            <th scope="col">Noche</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                    <label class="form-check-label" for="flexCheckDefault">
                                        9.00hs
                                    </label>
                                </div>
                            </td>
                            <td>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                    <label class="form-check-label" for="flexCheckDefault">
                                        13.00hs
                                    </label>
                                </div>
                            </td>
                            <td>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                    <label class="form-check-label" for="flexCheckDefault">
                                        20.00hs
                                    </label>
                                </div>
                            </td>
                        </tr>


                        <tr>
                            <td>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                    <label class="form-check-label" for="flexCheckDefault">
                                        10.00hs
                                    </label>
                                </div>
                            </td>
                            <td>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                    <label class="form-check-label" for="flexCheckDefault">
                                        14.00hs
                                    </label>
                                </div>
                            </td>
                            <td>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                    <label class="form-check-label" for="flexCheckDefault">
                                        21.00hs
                                    </label>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                    <label class="form-check-label" for="flexCheckDefault">
                                        11.00hs
                                    </label>
                                </div>
                            </td>
                            <td>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                    <label class="form-check-label" for="flexCheckDefault">
                                        15.00hs
                                    </label>
                                </div>
                            </td>
                            <td>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                    <label class="form-check-label" for="flexCheckDefault">
                                        22.00hs
                                    </label>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                    <label class="form-check-label" for="flexCheckDefault">
                                        12.00hs
                                    </label>
                                </div>
                            </td>
                            <td>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                    <label class="form-check-label" for="flexCheckDefault">
                                        16.00hs
                                    </label>
                                </div>
                            </td>
                            <td>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                    <label class="form-check-label" for="flexCheckDefault">
                                        23.00hs
                                    </label>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                
                            </td>
                            <td>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                    <label class="form-check-label" for="flexCheckDefault">
                                        17.00hs
                                    </label>
                                </div>
                            </td>
                            <td>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                    <label class="form-check-label" for="flexCheckDefault">
                                        00.00hs
                                    </label>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                
                            </td>
                            <td>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                    <label class="form-check-label" for="flexCheckDefault">
                                        18.00hs
                                    </label>
                                </div>
                            </td>
                            <td>
                                
                            </td>
                        </tr>

                        <tr>
                            <td>
                                
                            </td>
                            <td>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                    <label class="form-check-label" for="flexCheckDefault">
                                        19.00hs
                                    </label>
                                </div>
                            </td>
                            <td>
                                
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success">Cargar</button>
            </div>
        </div>
    </div>
</div>
