<div id="cancha">
    <div class="col-md-4 mx-auto py-3" id="formCancha">
        <form action="/paginas/cancha/{{idEstablecimiento}}" method="POST">
            <div class="text-center">
                <h2>Nueva Cancha</h2>
            </div>
            <div class="text-center">
                <h2>{{datosEstablecimiento.nombreEstablecimiento}}</h2>
            </div>           
            <div class="input-group mt-5 justify-content-around py-2">
                <label for="numeroCancha"><b>Numero de Cancha</b></label>
                <input type="number" name="numeroCancha" {{!--class="btn btn-ls btn-outline-primary"--}} min="{{numero}}" required>
                    {{!-- <option value=""></option>
                    <option value="1" type="number">1</option>
                    <option value="2" type="number">2</option>
                    <option value="3" type="number">3</option>
                    <option value="4" type="number">4</option>
                    <option value="5" type="number">5</option>
                    <option value="6" type="number">6</option>
                    <option value="7" type="number">7</option>
                    <option value="8" type="number">8</option>
                    <option value="9" type="number">9</option>
                    <option value="10" type="number">10</option>
                </select> --}}
                <select name="idDeportes" class="btn btn-ls btn-outline-primary" required>
                    <option type="text" value="">Formato</option>
                    <option type="text" value="1">Fútbol 5</option>
                    <option type="text" value="2">Fútbol 7</option>
                    <option type="text" value="3">Fútbol 11</option>
                    <option type="text" value="4">Básquet 2</option>
                    <option type="text" value="5">Básquet 5</option>
                    <option type="text" value="6">Pádel 1</option>
                    <option type="text" value="7">Pádel 2</option>
                </select>
            </div>
            <div class="text-center mb-2">
                <label for="dias"><b>Dias de Atencion</b></label>
             
                <label for="dias"><input type="checkbox" name="Lunes" value="Lunes">Lunes</label>                
                <label for="dias"><input type="checkbox" name="Martes" value="Martes">Martes</label>
                <label for="dias"><input type="checkbox" name="Miercoles" value="Miercoles">Miercoles</label>
                <label for="dias"><input type="checkbox" name="Jueves" value="Jueves">Jueves</label>
                <label for="dias"><input type="checkbox" name="Viernes" value="Viernes">Viernes</label>
                <label for="dias"><input type="checkbox" name="Sabado" value="Sabado">Sabado</label>
                <label for="dias"><input type="checkbox" name="Domingo" value="Domingo">Domingo</label>        
            </div>
            <div class="text-center mb-3">
                <label for="horario"><b>Horario de Atencion</b></label>
                <select name="horaInicio" class="btn btn-ls btn-outline-primary" required>
                    <option>Desde</option>
                    <option value="1" type="number">1</option>
                    <option value="2" type="number">2</option>
                    <option value="3" type="number">3</option>
                    <option value="4" type="number">4</option>
                    <option value="5" type="number">5</option>
                    <option value="6" type="number">6</option>
                    <option value="7" type="number">7</option>
                    <option value="8" type="number">8</option>
                    <option value="9" type="number">9</option>
                    <option value="10" type="number">10</option>
                    <option value="11" type="number">11</option>
                    <option value="12" type="number">12</option>
                    <option value="13" type="number">13</option>
                    <option value="14" type="number">14</option>
                    <option value="15" type="number">15</option>
                    <option value="16" type="number">16</option>
                    <option value="17" type="number">17</option>
                    <option value="18" type="number">18</option>
                    <option value="19" type="number">19</option>
                    <option value="20" type="number">20</option>
                    <option value="21" type="number">21</option>
                    <option value="22" type="number">22</option>
                    <option value="23" type="number">23</option>
                    <option value="24" type="number">24</option>
                </select>
                <select name="horaFin" class="btn btn-ls btn-outline-primary" required>
                    <option>Hasta</option>
                    <option value="1" type="number">1</option>
                    <option value="2" type="number">2</option>
                    <option value="3" type="number">3</option>
                    <option value="4" type="number">4</option>
                    <option value="5" type="number">5</option>
                    <option value="6" type="number">6</option>
                    <option value="7" type="number">7</option>
                    <option value="8" type="number">8</option>
                    <option value="9" type="number">9</option>
                    <option value="10" type="number">10</option>
                    <option value="11" type="number">11</option>
                    <option value="12" type="number">12</option>
                    <option value="13" type="number">13</option>
                    <option value="14" type="number">14</option>
                    <option value="15" type="number">15</option>
                    <option value="16" type="number">16</option>
                    <option value="17" type="number">17</option>
                    <option value="18" type="number">18</option>
                    <option value="19" type="number">19</option>
                    <option value="20" type="number">20</option>
                    <option value="21" type="number">21</option>
                    <option value="22" type="number">22</option>
                    <option value="23" type="number">23</option>
                    <option value="24" type="number">24</option>
                </select><span class="m-1"><b>Hs</b></span>
            </div>
            {{!-- <div class="text-center">
                <span><b>Imagen de la Cancha</b></span>
                <input class="btn" type="file" name="imagen" id="imagen">
            </div> --}}

            <div class="col-5 mx-auto">
                <button type="submit" class="btn btn-success btn-block">
                    Cargar
                </button>
        </form>
        <a onclick="location.href='/paginas/duenio'" class="btn btn-danger btn-block">
            Cancelar
        </a>
    </div>
</div>
</div>