<meta http-equiv="refresh" content= "3; URL=/paginas/inicio"/>
<div class="container-flex p-4">
    <div class="m-5" style="padding: 100px;">
        <div style="text-align: center;">
            <img src="/img/app/logo2.png" alt="" width="60" height="60" class="d-inline-block ">
        </div>
        <div class="col-md-7 mx-auto" style="text-align: center;">
                    
                    <br>
                    <div class="spinner-grow spinner-grow-sm text-success" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                    <div class="spinner-grow spinner-grow-sm text-danger" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                    <div class="spinner-grow spinner-grow-sm text-warning" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                    <br>
                    <h6 style="color: rgb(109, 109, 109);">Cargando...</h6>
                
        </div>
    </div>
</div>