<div id="formulario">

    <form id="formequipo" class="row g-3" >
        <div class="col-md-12">
             <div class="text-center"><h1>NOMBRE EQUIPO</h1></div>
            <input type="text" class="form-control" id="validationDefault01" value="Nombre" required>
            <br>
        </div>
       

    </form>

    
  <button type="submit" onclick="location.href='/'" class="btn btn-success btn-block">
        crear equipo
    </button>
</div>