<div class="container" id="formulario">
    <form id="formequipo" method="POST" action="crearEquipoFutbol">
        <div class="row mt-5">
            <h1 class="text-white mt-3 text-center">CREA TU EQUIPO</h1>
            <div class="col-6 m-auto py-3 bg-warning">
                <div class="input-group mb-3 text-white">NOMBRE EQUIPO:
                    <input type="text" class="form-control" name="nombreEquipo" placeholder="Nombre de tu equipo">
                </div>
                <div class="input-group mb-3">
                    <label for="tipo" class="text-white m-3">SELECCIONA TIPO</label>
                    <select name="tipo" class="btn btn-ls btn-info ">
                        <option value="">FUTBOL 5</option>
                        <option value="">FUTBOL 7</option>
                        <option value="">FUTBOL 11</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-4 mx-auto">
                <button type="submit" class="btn btn-success btn-block">
                    Crear Equipo
                </button>
            </div>
        </div>
</div>
</form>
</div>