<div class="container" id="formulario">
    <form id="formequipo" method="POST" action="crearEquipoFutbol" >
        <div class="row">
             <h1 class="text-white mt-3 text-center py-4" >CREA TU EQUIPO</h1>
            <div class="col-6 m-auto py-3 px-4 bg-white">
                <div class="input-group mb-3">
                    <label for="nombre" class="text-black m-2" ><b>NOMBRE DE TU EQUIPO:</b></label>
                    <input type="text" class="form-control" name="nombreEquipo">
                </div>
                 <div class="input-group mb-3">
                    <label for="nombre" class="text-black m-2" ><b>POSICIÓN:</b></label>
                    <input type="text" class="form-control" name="posicion">
                </div>
                <div class="input-group mb-3">
                    <label for="tipo" class="text-black m-3" ><b>SELECCIONA TIPO</b></label>
                    <select name="tipo" class="btn btn-ls btn-success">
                        <option value="1">FUTBOL 5</option>
                        <option value="2">FUTBOL 7</option>
                        <option value="3">FUTBOL 11</option>
                    </select>                      
                </div>  
            </div> 
        </div>
        <div class="row">
            <div class="col-4 m-auto py-4">
                <button type="submit" class="btn btn-success btn-block">
                    Crear Equipo 
                </button>
            </div>
        </div> 
    </form>
</div>