<div class="container" >
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" style="background: rgb(32, 155, 16);">
        <img class="d-block w-100" src="/img/app/f.jpg" alt="futbol">
        <div class="carousel-caption text-start">
          <h1>FÚTBOL</h1>
          <p id="citaAutor">"El fútbol se juega con la cabeza, los pies son solo tu herramienta."</p>
          <p>Andrea Pirlo</p>
          <p><a class="btn btn-lg btn-success d-grid gap-2 col-6 mx-auto " href="./futbol">Ingresar</a></p>
          
        </div>
      </div>

      <div class="carousel-item" style="background: rgb(199, 135, 16);">
        <img class="d-block w-100" src="/img/app/basquet.jpg" alt="basquet">
        <div class="carousel-caption text-start">
          <h1>BÁSQUET</h1>
          <p id="citaAutor">"El talento gana partidos, pero el trabajo en equipo y la inteligencia ganan campeonatos."</p>
          <p>Michael Jordans</p>
          <p><a class="btn btn-lg btn-danger d-grid gap-2 col-6 mx-auto" href="./basquet">Ingresar</a></p>
        </div>
      </div>
      
      <div class="carousel-item" style="background: rgb(28, 138, 202);">
        <img class="d-block w-100" src="/img/app/padel.jpg" alt="padel">
        <div class="carousel-caption text-start">
          <h1>PÁDEL</h1>
          <p id="citaAutor">"No importa cómo te llegue la bola, siempre mirala con muchas ganas."</p>
          <p>Fernando Belasteguin</p>
          <p><a class="btn btn-lg btn-primary d-grid gap-2 col-6 mx-auto" href="./padel">Ingresar</a></p>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only"></span>
    </a>
    <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only"></span>
    </a>
  </div>
</div>
