<div id="cancha">
    <div class="container-fluid">
        <div class="d-flex p-2">
            <div id="semiTransparente" class="col-lg-6 m-auto p-4 px-2">
                <div class="card">
                    <h3 class="mt-2 text-center">Establecimiento - Cancha Nº 1 - Fútbol 11</h3>
                </div>
                <div class="row row-cols-2 text-white">
                    <div class="col-lg-4 m-0 mt-2 py-2">
                        <img src="/img/descarga/1c115d5d-979d-4630-947c-f11c28d44f94.jpg" width="580">                        
                    </div>
                    <div class="col-lg-8 m-1 py-1 text-white">
                        <i for="nombre"><b>Días disponible: </b>{{nombre}}</i>
                        <br>
                        <i for="nombreUsuario"><b>Horario: </b>De {{horaInicio}}hs a {{horaFin}}hs</i>
                        <br>
                        <i for="nombreUsuario"><b>Dirección: </b>{{nombreUsuario}}</i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-2  p-2">
            <a  href="javascript: history.go(-1)" type="button" class="btn btn-primary">Volver</a>
        </div>
    </div>
</div>