<div class="container">
    <table class="table table-dark table-striped">
        <thead>
            <h2 class="text-center" style="color: aquamarine;">{{club}}</h2>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Posicion</th>
        </thead>
        <tbody>
            {{#each equipo}}
            <tr>
                <td>{{nombre}}</td>
                <td>{{apellido}}</td>
                <td>{{posicion}}</td>                
            </tr>
                {{/each}}
            
        </tbody>
    </table>

</div>