<div class="futbol">
    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/deporte">
            <img src="/img/logo4.png" alt="" width="50" height="50" class="d-inline-block align-text-top">
            <h2 style="display: inline-block" >APPasionados</h2>
            </a>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Buscar equipo" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Buscar</button>
            </form>
        </div>
    </nav>
    
    <div class="container-fluid">
        <div class="tablaEquipo col-md-5">
            <h2><b>EQUIPOS</b></h2>
        </div>
    
        <div class="tablaEquipo col-md-5">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Nº de Equipo</th>
                        <th>Nombre</th>
                        <th>Nº de Jugadores</th>
                            
                    </tr> 
                </thead>        
                    
                <tbody>
                        
                    <tr>
                        <td>1</td>
                        <td>FC Barca</td>
                        <td>7</td>
                            <!--<td>{{numero}}</td>
                            <td>{{nombre}}</td>
                            <td>{{cantidadJugadores}}</td>-->
                        
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Hay equipo</td>
                        <td>9</td>
                    </tr>
                        
                </tbody>
            </table>
        </div>

    </div>
    
</div> 
       