<main class="inicio">
    <div class="container">
        <div class="row justify-content-between">
            <div class="btnCentro col-md py-5 mx-auto">
                <a href="ingreso" type="button" class="btn btn-success btn-lg" data-bs-toggle="tooltip" data-bs-placement="top" title="Inicia como jugador para ser parte de un equipo y realizar deportes.">JUGADOR</a>
            </div>
            <div class="btnCentro col-md py-5 mx-auto">
                <!-- logo de la app -->
                <img src="/img/logo4.png" alt="Logo App" class="mx-1" width="300px">                
            </div>
            <div class="btnCentro col-md py-5 mx-auto">
                <a href="ingreso" type="button" class="btn btn-warning btn-lg" data-bs-toggle="tooltip" data-bs-placement="top" title="Inicia como cancha para ingresar tu establecimiento deportivo.">CANCHA</a>                
            </div>
        </div>
    </div>
    <div class="linkCentro col-md mx-auto">
        <b>Ingresar como <a href="ingreso"  type="link" class="link link-primary link-lg">Administrador</a></b>
        <h6>© 2021 APPasionados</h6>
    </div>
    
</main>
