<div id="inicio">
    <div class="container-flex">
        <div class="d-flex justify-content-around p-4">
            <div id="btnCentro" class="py-5 mx-auto">
                <a href="deporte" type="button" data-bs-toggle="tooltip" data-bs-placement="top" title="Ingresa para realizar deportes.">
                    <!-- logo jugador -->
                    <img class="zoom1" src="/img/app/logoJugador1.png" srcset="/img/app/logoJugador1.png 1400w, /img/app/logoJugador1.png 300w"
                    sizes="(mim-width: 500px) 33.3vw, 100vw" alt="Logo Jugador" class="mx-1">
                </a>
            </div>
            <div id="btnCentro" class="py-5 mx-auto">
                <!-- logo de la app -->
                <img src="/img/app/logo4.png" alt="Logo App" class="mx-1">
            </div>
            <div id="btnCentro" class="py-5 mx-auto">
                <a href="duenio" type="button" data-bs-toggle="tooltip" data-bs-placement="top" title="Ingresa para subir tus canchas.">
                    <!-- logo cancha -->
                    <img class="zoom1" src="/img/app/logoCancha1.png" srcset="/img/app/logoCancha1.png 1400w, /img/app/logoCancha1.png 300w"
                    sizes="(mim-width: 500px) 33.3vw, 100vw"  alt="Logo Cancha" class="mx-1">
                </a>
            </div>
        </div>
     
        <div id="linkCentro" class="col-sm-2 mx-auto" style="display: none;">
            <b>Ingresar como... <a href="/paginas/vistaAdmin" type="link"
                    class="link link-primary link-lg">Administrador</a></b>
            <h6>© 2021 APPasionados</h6>
        </div>           
    </div>
</div>
<script> 
    var estado 
    if ({{user.idRol}} === 1) {
     estado= "block"
     }else{
     estado= "none"}
document.getElementById('linkCentro').style.display= estado
</script>