<div id="inicio">
    <form method="POST" action="/paginas/mapa/{{idEstablecimiento}}">
        <div class="container-flex">
            <div class="d-flex justify-content-around p-4">
            {{#with cancha}}
              
                <div id="showMap" style="width: 800px; height: 360px;"></div>
            {{/with}}   
            </div>   
        </div>
        <div class="col-5 mx-auto p-4" style="background-color: blanchedalmond;">
            <button type="submit" class="btn btn-success btn-block">
                Cargar
            </button>
            
            <a href="javascript: history.go(-1)" type="button" class="btn btn-danger btn-block">
                Cancelar
            </a>
        </div>  
    </form>
</div>




<script type="text/javascript"> 
{{#with cancha}}

function showGoogleMaps()
{
    
  //Creamos el punto a partir de la latitud y longitud de una dirección:
  var point = new google.maps.LatLng({{latitud}}, {{longitud}});
    
  //Configuramos las opciones indicando zoom, punto y tipo de mapa
  var myOptions = {
      zoom: 15, 
      center: point, 
      mapTypeId: google.maps.MapTypeId.ROADMAP
  };

  //Creamos el mapa y lo asociamos a nuestro contenedor
  var map = new google.maps.Map(document.getElementById("showMap"),  myOptions);

  //Mostramos el marcador en el punto que hemos creado
  var marker = new google.maps.Marker({
      position:point,
      draggable: true,
      map: map,
      title: '{{direccion}}'
  });


  google.maps.event.addListener(marker, 'dragend', function(event) {
      
      var lat = marker.getPosition().lat();
      var long = marker.getPosition().lng();

      document.getElementById("showMap").innerHTML += `<input id="mapLong" type="text" name="long" value=${long}> <input id="mapLong" type="text" name="lat" value=${lat}>`;
  });
}
showGoogleMaps();
{{/with}}
</script>
