<form action="/paginas/prueba/{{user.idUsuarios}}" method="POST" enctype="multipart/form-data">
    <input type="file" name="imagen">
    <button type="submit">Cargar</button>
</form>
<img src="" alt="" width="300" height="300">



                    const formulario = document.querySelector('#formulario');
                    const boton = document.querySelector('#boton');

                    const filtrar= ()=>{
                        
                    }
                