<div id="cancha" class="container">
        
    <form id="formCancha" class="row g-4" >
        <div class="col-md-12">
            
            <div class="text-center"><h2>Reserva</h2></div>
            <div class="dropdown-divider"></div>
            <div class="input-group mb-2 justify-content-around py-2">
                <select name="posicion" class="btn btn-ls btn-primary" required>
                    <option type="text" value="">Local</option>
                    <option type="text" value="equipo1">equipo1</option>
                    <option type="text" value="equipo2">equipo2</option>
                    <option type="text" value="equipo3">equipo3</option>
                </select>
                <select name="posicion" class="btn btn-ls btn-primary" required>
                    <option type="text" value="">Visitante</option>
                    <option type="text" value="equipo1">equipo1</option>
                    <option type="text" value="equipo2">equipo2</option>
                    <option type="text" value="equipo3">equipo3</option>
                </select>
            </div>
            <div class="dropdown-divider"></div>
            <div class="input-group mb-2 justify-content-around py-2">
                <select name="posicion" class="col-md-10 btn btn-ls btn-primary" required>
                    <option type="text" value="">Establecimiento</option>
                    <option type="text" value="Pase a la red">Pase a la red</option>
                    <option type="text" value="Planeta Gol">Planeta Gol</option>
                    <option type="text" value="La champion">La champion</option>
                </select>
            </div>
            <div class="input-group mb-2 justify-content-around py-2">
                <select name="posicion" class="col-md-10 btn btn-ls btn-primary" required>
                    <option type="text" value="">Cancha</option>
                    <option type="text" value="Fútbol 5">Fútbol 5</option>
                    <option type="text" value="Fútbol 7">Fútbol 7</option>
                    <option type="text" value="Fútbol 11">Fútbol 11</option>
                </select>
            </div>
            <div class="input-group mb-2 justify-content-around py-2">
                <select name="posicion" class="btn btn-ls btn-primary" required>
                    <option type="text" value="">Día</option>
                    <option type="text" value="Lunes">Lunes</option>
                    <option type="text" value="Martes">Martes</option>
                    <option type="text" value="Miercoles">Miercoles</option>
                    <option type="text" value="Jueves">Jueves</option>
                    <option type="text" value="Viernes">Viernes</option>
                    <option type="text" value="Sábado">Sábado</option>
                    <option type="text" value="Domingo">Domingo</option>
                </select>
                <select name="posicion" class="btn btn-ls btn-primary" required>
                    <option type="text" value="">Turno</option>
                    <option type="text" value="08:00">08:00</option>
                    <option type="text" value="09:00">09:00</option>
                    <option type="text" value="10:00">10:00</option>
                    <option type="text" value="11:00">11:00</option>
                    <option type="text" value="12:00">12:00</option>
                    <option type="text" value="13:00">13:00</option>
                    <option type="text" value="14:00">14:00</option>
                    <option type="text" value="15:00">15:00</option>
                    <option type="text" value="16:00">16:00</option>
                    <option type="text" value="17:00">17:00</option>
                    <option type="text" value="18:00">18:00</option>
                    <option type="text" value="19:00">19:00</option>
                    <option type="text" value="20:00">20:00</option>
                    <option type="text" value="21:00">21:00</option>
                    <option type="text" value="22:00">22:00</option>
                    <option type="text" value="23:00">23:00</option>
                </select>
            </div>
            <div class="dropdown-divider"></div>

            <a href="" class="btn btn-success btn-block">
                Reservar
            </a>
            <a href="javascript: history.go(-1)" class="btn btn-danger btn-block">
                Cancelar
            </a>
        </div>
        
    </form>
</div>
    
  