<div id="cancha">
    <div class="container-fluid">
        {{#each nombre}}
        <div class="card text-center mb-4">
            <h2 class="mb-3  mx-auto">{{nombreEstablecimiento}}</h2>
        </div>
        {{/each}}
        <div id="scrollMisCanchas" class="rows" >
            {{#each establecimiento}}
            <div class="col-lg-4 mb-4">
                <div class="card bg-white" style="opacity: 1;">
                    <div class="card-header">
                        <b>Cancha Nº {{numeroCancha}} - {{deporte}}</b>
                    </div>
                    <div class="card-body">
                        <img src="/img/descarga/{{img}}" alt="" width="250" height="200">
                    </div>
                    <div class="card-footer">
                        <a href="/paginas/diasCancha" type="link" class="link link-primary">Ver dias y horario</a>
                        <button class="btn btn-primary">Reservar</button>
                    </div>
                </div>
                <div class="d-flex justify-content-around">
                    <div id="showMap" style="width: 480px; height: 263px;"></div>
                </div>
            </div>
            {{/each}}
        </div>
        <div class="col-2 p-4">
            <a  href="javascript: history.go(-1)" type="button" class="btn btn-primary">Volver</a>
        </div>
    </div>
</div>