<div id="cancha" style="width: 100vw; height: 33rem">
    <div class="container p-5">
        <div id="semiTransparente" class="col-md-5 m-auto p-5">
            <div class="col-md-12">
                {{#with establecimiento}}
                <div class="card-header">
                    <div class="text-center">
                        
                        <h2>{{nombreEstablecimiento}}</h2>
                    </div>
                </div>
                <div class="card-body text-white">

                    <i type="text">Dirección: <b>{{direccion}}</b></i>
                    <br>
                    <i type="text">Deporte: <b>Fútbol 5</b></i>
                </div>
                 {{/with}}
            </div>
        </div>
           <div style="float: left" class="col-2  p-4">
            <a id="volver" href="javascript: history.go(-1)" type="button" class="btn btn-danger">Volver</a>
        </div>
    </div>
  
</div>