<div id="cancha" style="width: 100vw; height: 33rem">
    <div class="container-fluid p-3">
        <div class="card bg-primary col-md-5 m-auto p-5">
            <div class="col-md-15">
                {{#with establecimiento}}
                <div class="card text-center mb-4">
                    <div class="text-center">
                        
                        <h2>{{nombreEstablecimiento}}</h2>
                    </div>
                </div>
                <div id="semiTransparente" class="card-body text-white">

                    <i type="text">Dirección: <b>{{direccion}}</b></i>
                    <br>
                    <i type="text">Deporte: <b>Fútbol 5</b></i>
                </div>
                 {{/with}}
            </div>
        </div>
           <div class="col-2  p-4">
            <a  href="javascript: history.go(-1)" type="button" class="btn btn-danger">Volver</a>
        </div>
    </div>
  
</div>