<div id="cancha">
    <div class="container-flex">
        {{#if cancha}}
        <div class="row pt-2 m-auto">
            {{{mapa}}}
        </div>
        {{/if }} 
        <div class="col-2  p-4">
            <a  href="javascript: history.go(-1)" type="button" class="btn btn-primary">Volver</a>
        </div>
    </div>
</div>