<main class="formulario">
    <div class="container">
        <div class="row">
            <div id= "inicioCentrar" class="col-md-4" style="position: static;" >
                <!--agregue logo de la app -->
                <a title="logoApp" href='/'><img class="zoom"  src="/img/app/logo4.png" srcset="/img/app/logo4.png 1024w, /img/logo4.png 320w" sizes="(mim-width: 320px) 33vw, 100vw" alt="logoApp"></a>                
                <div id="semiTransparente" class="container-fluid">
                    <div class="row"> 
                        <h4 style="text-align: unset; color:rgb(255, 255, 255);" ><i>Unite a la comunidad de </i><b style="color: rgba(96, 98, 223, 0.979);">APPasionados</b> <i>y disfrutá del deporte que más te apasiona.</i> </h4>
                    </div>
                    
                </div>
                
                
            </div>
            <div class="col offset-md-3">
                <div class="card">
                    <div class="card-header">
                        <h3>Ingresar</h3>
                    </div>
                    <div class="card-body">
                        <form action="/ingreso" method="POST">
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" name="nombreUsuario" placeholder="Usuario" autofocus required >
                            </div>
                            <div class="input-group mb-3">
                                <input type="password" class="form-control" name="contrasenia" placeholder="Contraseña" required>
                            </div>
                            <div class="d-grid mb-2">
                                <button type="submit" class="btn btn-success btn-block">
                                    Iniciar sesión
                                </button>
                            </div>
                        </form>
                    </div>
                    <div class="card-footer">
                        <span><b>¿Aún no tienes cuenta? </b></span>
                        <div class="d-grid mb-2">
                        <button onclick="location.href='/registro'" class="btn btn-primary btn-block" >
                           <span style="color: white">Regístrate</span> 
                        </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>