<main class="formulario">
    <div class="container">
        <div class="row">
            <div class="col-md-5 p-2">
                <h1 class="app">APPasionados</h1>
            </div>
        </div>
        <div class="row justify-content-between">
            <div class="col-md-4 py-5">
                <!--agregue logo de la app -->
                <a title="logoApp" href='/inicio' ><img src="/img/logo4.png" alt="logoApp" width="250"/></a>
                <!--<h1 class="formu">AppAsionados</h1>-->
            </div>
            <div class="col-md-4 py-5">
                <div class="card">
                    <div class="card-header">
                        <h3>Ingresar</h3>
                    </div>
                    <div class="card-body">
                        <form action="/ingreso" method="POST">
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" name="nombreUsuario" placeholder="Usuario" autofocus >
                            </div>
                            <div class="input-group mb-3">
                                <input type="password" class="form-control" name="contrasenia" placeholder="Contraseña" >
                            </div>
                            <span><b>¿Quieres proponer tu espacio deportivo? </b></span>
                            <div class="d-grid mb-2">
                                <button type="submit" class="btn btn-success btn-block">
                                    Iniciar sesión
                                </button>
                            </div>
                        </form>
                    </div>
                    <div class="card-footer">
                        <span><b>¿Aún no tienes cuenta? </b></span>
                        <div class="d-grid mb-2">
                        <button onclick="location.href='/registro'" class="btn btn-primary btn-block" >
                           <span style="color: white">Regístrate</span> 
                        </button>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</main>