<main class="formulario">
    <div class="container">
        <div class="row justify-content-between">
            <div id= "inicioCentrar" class="col-md-4 py-5">
                <!--agregue logo de la app -->
                <a title="logoApp" href='/' ><img src="/img/logo4.png" alt="logoApp" width="250"/></a>                
            </div>
            <div class="col-md-4 py-5">
                <div class="card">
                    <div class="card-header">
                        <h3>Ingresar</h3>
                    </div>
                    <div class="card-body">
                        <form action="/ingreso" method="POST">
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" name="nombreUsuario" placeholder="Usuario" autofocus required >
                            </div>
                            <div class="input-group mb-3">
                                <input type="password" class="form-control" name="contrasenia" placeholder="Contraseña" required>
                            </div>
                            <div class="d-grid mb-2">
                                <button type="submit" class="btn btn-success btn-block">
                                    Iniciar sesión
                                </button>
                            </div>
                        </form>
                    </div>
                    <div class="card-footer">
                        <span><b>¿Aún no tienes cuenta? </b></span>
                        <div class="d-grid mb-2">
                        <button onclick="location.href='/registro'" class="btn btn-primary btn-block" >
                           <span style="color: white">Regístrate</span> 
                        </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--agregue acceso admin -->
        <div id="linkCentro" class="col-md mx-auto">
            <b>Ingresar como... <a href="paginas/vistaAdmin"  type="link" class="link link-primary link-lg">Administrador</a></b>
            <h6>© 2021 APPasionados</h6>
        </div>
    </div>
</main>