<div id="inicioDuenio">
    <div class="container">
        <div class="row justify-content-between">
            <div id="inicioCentrar" class="col-md-4 py-5">
                <!--agregue logo de la app -->
                <a title="logoApp" href="/"><img src="/img/logo4.png" alt="logoApp" width="250" /></a>
            </div>
            <div class="col-md-4 py-2">
                <div id="card" class="card">
                    <div class="card-header">
                        <h3>Registro de Establecimiento</h3>
                    </div>
                    <div class="card-body">
                        <form action="/registroDuenio" method="post">                        
                            <div class="input-group mb-3">          
                                <b><span style="color: red;">*  </span></b>                      
                                <input type="cuit" class="form-control" name="cuit" placeholder="Cuit">
                            </div>
                             <div class="input-group mb-3">          
                                <b><span style="color: red;">*  </span></b>                      
                                <input type="cuit" class="form-control" name="nombreEstablecimiento" placeholder="Nombre">
                            </div>
                             <div class="input-group mb-3">          
                                <b><span style="color: red;">*  </span></b>                      
                                <input type="cuit" class="form-control" name="direccion" placeholder="Direccion">
                            </div>                             
                            <b><span style="color: red;"><b>*</b></span><span style="font-size:small"> CAMPOS OBLIGATORIOS</span></b>                          
                            <div class="d-grid mb-2">
                                <button type="submit" class="btn btn-success btn-block">
                                    Registrarte
                                </button>
                            </div>
                        </form>
                    </div>
                    <div class="card-footer">
                        <span><b>¿Tienes una cuenta? </b></span>
                        <div class="d-grid mb-2">
                            <button onclick="location.href='/ingresoDuenio'" class="btn btn-primary btn-block">
                                <span style="color: white">Inicia sesión</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>