<main class="formulario">
    <div class="container">
        <div class="row">
            <div class="col-md-5 p-2">
                <h1 class="app">APPasionados</h1>
            </div>
        </div>
        <div class="row justify-content-between">
<<<<<<< HEAD
            <div class="col-md-8">
                <h2 id="eslogan" class="p-3">Tus deportes favoritos en una sola App, <br>sé un APPasionado más!</h2>
=======
            <div class="col-md-4 py-5">
                <!--agregue logo de la app -->
                <a title="logoApp" href='/inicio' ><img src="/img/logo4.png" alt="logoApp" width="250"/></a>
                <!--<h1 class="formu">AppAsionados</h1>-->
>>>>>>> b6c7c0f0f3ec1ec627a819cfd7451355a5c6c41c
            </div>
            <div class="col-md-4 py-4">
                <div id="card" class="card">
                    <div class="card-header">
                        <h3>Registro</h3>
                    </div>
                    <div class="card-body">
                        <form action="/registro" method="POST">
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" name="nombre" placeholder="Nombre" autofocus>
                            </div>
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" name="apellido" placeholder="Apellido">
                            </div>
                             <div class="input-group mb-3">
                                <input type="email" class="form-control" name="email" placeholder="E-mail">
                            </div>
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" name="nombreUsuario" placeholder="Usuario">
                            </div>
                            <div class="input-group mb-3">
                                <input type="password" class="form-control" name="contrasenia" placeholder="Contraseña">
                            </div>
                            <div class="d-grid mb-2">
                                <button type="submit" class="btn btn-success btn-block">
                                    Registrarte
                                </button>
                            </div>
                        </form>
                    </div>
                    <div class="card-footer">
                        <span><b>¿Tienes una cuenta? </b></span>
                        <div class="d-grid mb-2">
                        <button onclick="location.href='/ingreso'" class="btn btn-primary btn-block" >
                           <span style="color: white">Inicia sesión</span> 
                        </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>