<main class="formulario">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-md-4 p-3">
                <h1 class="formu">AppAsionados</h1>
            </div>
            <div class="col-md-4 py-5">
                <div id="card" class="card">
                    <div class="card-header">
                        <h3>Registro</h3>
                    </div>
                    <div class="card-body">
                        <form action="/registro" method="POST">
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" name="usuario" placeholder="Usuario" autofocus >
                            </div>
                            <div class="input-group mb-3">
                                <input type="password" class="form-control" name="contrasenia" placeholder="Contraseña" >
                            </div>
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" name="nombre" placeholder="Nombre" >
                            </div>
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" name="apellido" placeholder="Apellido">
                            </div>
                            <div class="input-group mb-3">
                                <input type="email"  class="form-control" name="e_mail" placeholder="E-mail" >
                            </div>
                            <div class="d-grid mb-2">
                                <button type="submit" class="btn btn-success btn-block">
                                    Registrar
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>