<div id="inicioDuenio">
    <div class="container">
        <div class="row justify-content-between">
            <div id="inicioCentrar" class="col-md-4 py-5">
                <!--agregue logo de la app -->
                <a title="logoApp" href="/paginas/inicio"><img src="/img/aoo/logo4.png" srcset="/img/app/logo4.png 1024w, /img/logo4.png 280w" sizes="(mim-width: 300px) 33.3vw, 100vw" alt="logoApp"></a>
            </div>
            <div class="col-md-4 py-2">
                <div id="card" class="card">
                    <div class="card-header">
                        <h3>Registro de Establecimiento</h3>
                    </div>
                    <div class="card-body">
                        <form action="/registroDuenio" method="post">                        
                            <div class="input-group mb-3">          
                                <b><span style="color: red;">*  </span></b>                      
                                <input type="text" class="form-control" name="cuit" placeholder="Ingrese su Cuit sin guiones" pattern="[0-9]{9,11}" required>
                            </div>
                             <div class="input-group mb-3">          
                                <b><span style="color: red;">*  </span></b>                      
                                <input type="text" class="form-control" name="nombreEstablecimiento" placeholder="Nombre del establecimiento" required>
                            </div>
                             <div class="input-group mb-3">          
                                <b><span style="color: red;">*  </span></b>                      
                                <input type="text" class="form-control" name="direccion" placeholder="Direccion" required>
                            </div>                             
                            <b><span style="color: red;"><b>*</b></span><span style="font-size:small"> CAMPOS OBLIGATORIOS</span></b>                          
                            <div class="d-grid mb-2">
                                <button type="submit" class="btn btn-success btn-block">
                                    Registrarte
                                </button>
                            </div>
                        </form>
                    </div>                   
                </div>
            </div>
        </div>
    </div>
</div>