<main class="formulario">
    <div class="container">
        <div class="row justify-content-between">
            <div id= "inicioCentrar" class="col-md-4 py-5">
                <!--agregue logo de la app -->               
                <a title="logoApp" href='/' ><img src="/img/app/logo4.png" srcset="/img/app/logo4.png 1024w, /img/logo4.png 320w" sizes="(mim-width: 320px) 33vw, 100vw" alt="logoApp"></a> 
            </div>
            <div class="col-md-4 py-4">
                <div id="card" class="card">
                    <div class="card-header">
                        <h3>Registro</h3>
                    </div>
                    <div class="card-body">
                        <form action="/registro" method="POST">
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" name="nombre" placeholder="Nombre" pattern="[a-zA-Z]{2,40}" oninvalid="setCustomValidity('Nombre no debe contener numeros')" onchange="try{setCustomValidity('')}catch(e){}" autofocus required>
                            </div>
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" name="apellido" placeholder="Apellido" pattern="[a-zA-Z]{2,40}" oninvalid="setCustomValidity('Apellido no debe contener numeros')" onchange="try{setCustomValidity('')}catch(e){}"  required>
                            </div>
                             <div class="input-group mb-3">
                                <input type="email" class="form-control" name="email" placeholder="E-mail" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required>
                            </div>
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" name="nombreUsuario" placeholder="Usuario" required>
                            </div>
                            <div class="input-group mb-3">
                                <input type="password" class="form-control" name="contrasenia" placeholder="Contraseña" pattern="[a,z0-9]{3,8}" required>
                            </div>
                            <div class="d-grid mb-2">
                                <button type="submit" class="btn btn-success btn-block">
                                    Registrarte
                                </button>
                            </div>
                        </form>
                    </div>
                    <div class="card-footer">
                        <span><b>¿Tienes una cuenta? </b></span>
                        <div class="d-grid mb-2">
                        <button onclick="location.href='/ingreso'" class="btn btn-primary btn-block" >
                           <span style="color: white">Inicia sesión</span> 
                        </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>