body {
  background-color: rgba(0, 0, 0, 0.897)
}
#inicio {
  background-image: url(../img/imgInicio.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 39rem;
  padding-bottom: 0%;
  margin-bottom: 0%  
}

#nombreEquipo {
  color: rgb(6, 100, 189);
}

h6 {
  color: rgba(0, 0, 0, 0.575);
  text-align: center;
}

#app {
/*font-family: 'Dosis', sans-serif;
  font-family: 'Lobster', cursive; */
  color: rgb(250, 250, 250);
  margin-left: 3rem;
  font-size: 80px;
  padding-top: 2rem;

}

.card {
    border-radius: 0.5rem;
    opacity: 0.8;
    text-align: center;
}
.formulario {
  background-image: url(../img/fondoImg.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 39rem;
  padding-bottom: 0%;
  margin-bottom: 0%;
  display: flex;
  align-items: center;
       
}

.card-header, .card-footer {
  border-style: none;
   
}

#futbol {
  background-image: url(../img/verde1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
    
}

#basquet {
  background-color: rgb(199, 135, 16);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 33rem;
    
}

#padel {
  background-color: rgb(28, 138, 202);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 33rem;
    
}

#tablaEquipo {
  background: rgba(0, 0, 0, 0.623);
}


  /* Since positioning the image, we need to help out the caption */
.carousel-caption {
  background: rgba(100, 100, 100, 0.651);
  bottom: 1rem;
  z-index: 10;
}
  
  /* Declare heights because of positioning of img element */
.carousel-item {
  height: 33rem;
}

#citaAutor {
  font-style: italic;
}
  
#btnCentro {
  display: flex;
  align-items: center;
  justify-content: center;  
  margin: 100px;
}

#linkCentro {
  background: rgba(255, 255, 255, 0.63);
  width:230px; 
  margin: -50px;
  text-align: center; 
}

.offcanvas {
  background: rgba(44, 44, 44, 0.925);
  color: rgb(255, 255, 255);
}
#offcanvasRightLabel{
  color:rgb(250, 250, 250)
}
.nav-link{
  color:rgb(250, 250, 250);
  font-size: 20px
}
#nombrEmailBarra{
  list-style:none;
}
#barraDesplegable {
  background: rgb(192, 192, 192);
}

.modal-title, .modal-body {
  color: wheat;
}

#cancha {
  background-image: url(../img/fut.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 39rem;
  padding-bottom: 0%;
  margin-bottom: 0%
}

#formCancha{
  background: rgba(255, 254, 254, 0.61);
  padding:2px 0 10px 0 ;
   cursor:pointer;
   display:block;
   width:400px;
   margin: 0 auto;
   margin-left: auto;
  margin-right: auto;
}

#modalCancha-header{
  color:black;
  text-align: center;

}

#inicioDuenio {
  background-image: url(../img/duenio.jpeg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 39rem;
  padding-bottom: 0%;
  margin-bottom: 0%;
  display: flex;
  align-items: center;
       
}

#inicioCentrar {
  display: flex;
  align-items: center;
}

#scroll {
  overflow-y: scroll;
  width: 670px;
  height: 379px;
  display: block;

}

#formulario{
  background-image: url(../img/verde1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 535px;
}

#semiTransparente{
  background: rgba(100, 100, 100, 0.651);
}
.sidebar {
  position: fixed;
  margin-top: 5.6em;
  top: 0;
  /* rtl:raw:
  right: 0;
  */
  bottom: 0;
  /* rtl:remove */
  right: 0;
  z-index: 100; /* Behind the navbar */
  padding: 30px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
  background: rgba(255, 254, 254, 0.61)
}