<div class="col-4 m-0 bg-white py-5">
    
    <div class="text-center" disbled>
        <h3>Elige un Deporte</h3>
        <form action="/paginas/reservaDeporte1/" method="GET">
        <select name="deporte" id="">
            {{#each deporte}}
            <option value="{{idDeportes}}">{{deporte}}</option>
             {{/each}}
        </select>
        <button type="submit" class="btn btn-success">Aceptar</button>
        </form>
    </div>  
</div>
<div style = "float: left" class="col-2  p-4">
        <a id="volver" href="javascript: history.go(-1)" type="button" class="btn btn-danger">Volver</a>
    </div>