<div class="col-4 m-0 bg-white py-5">
    <div class="text-center">
        <h3>Establecimientos</h3>
        <form action="/paginas/reservaDeporte2/" method="GET">
            <label class="mt-3" for="fecha"><b>Elija un dia</b></label>
            <input type="date" name="fecha" value="" required>
            {{#each canchas}}
            <div class="col-md-6 bg-info mb-3">
                <b> {{nombreEstablecimiento}} <br>
                numero de la cancha {{numeroCancha}}
                <input type="radio" name="cancha" value="{{id}}">
            </div>
            {{/each}}

            <button class="btn btn-success" type="submit">Aceptar</button>
        </form>    
    </div>
    
</div>
