<div class="col-4 mx-0 bg-white py-5">
    <div class="text-center">
        <h3>Elige Turno</h3>
        <a id="botonTurnos" href="#" onclick="return misTurnos({{turno.horaInicio}}, {{turno.horaFin}})">Ver Turnos</a>
        <form action="/paginas/reservaDeporte2/{{idCancha}}&{{fecha}}" method="POST">
            <div class="container">
                <div class="row row-cols-2">
                    <div id="texto"></div>
                </div>
            </div>
            <button type="submit" class="btn btn-success text-dark">Reservar</button>
        </form>
        
    </div>
</div>
<script type="text/javascript">
    function misTurnos(a, b) {
        for (var i = a; i <= b; i++) {
            document.getElementById("texto").innerHTML += `<div class="col mb-3 bg-primary"><input type="radio" name="turno" id="" value="${i}"> Turno ${i} Hora</div>`;
        }
    }
    var btnTurnos = document.getElementById("botonTurnos");
    var disableButton = function () { this.disabled = true; };
    btnTurnos.addEventListener('click', disableButton, false);
</script>